apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:

  POSTGRES_URL: "jdbc:postgresql://host.docker.internal:5432/postgres"
  KAFKA_BOOTSTRAP_SERVERS: "host.docker.internal:19092"

